extends ../../jade/talk_short.jade
block date
  p 08/21/2014
block talk-title
  p test title4
block speaker
  p Jiaqi Li
block description-short
  p test description
block status
  p Testing
block extra
  p None
