extends ../../jade/talk_short.jade
block date
  | 08/21/2014
block talk-title
  | test title4
block speaker
  | Jiaqi Li
block description-short
  | test description
block status
  | Testing
block extra
  | None
