extends ../../jade/talk_short.jade
block date
  | 09/08/2014
block talk-title
  | Introduction
block speaker
block description-short
  | Introduction to this club. We will also cover some basic commands in linux shell.
block status
  | Scheduled
