tr
  th
    block date
      p N/A
  th
    block talk-title
      p N/A
  th
    block speaker
      p N/A
  th
    block description-short
      p N/A
  th
    block status
      p Planning
  th
    block extra
      p N/A


