tr
  th(style='width:10%')
    block date
      p N/A
  th(style='width:10%')
    block talk-title
      p N/A
  th(style='width:10%')
    block speaker
      p N/A
  th(style='width:50%')
    block description-short
      p N/A
  th(style='width:10%')
    block status
      p Planning
  th(style='width:10%')
    block extra
      p N/A
      
      

