extends jade/main.jade

block title
  title #{json.fullname} - About Us

block content
  :markdown
    About Us
    ===

    ### Officers

    * Advisor: Dr. Micheal Goldwasser

    * President: Jiaqi Li

    * Vice-president: Alexander Dietz
    
    * Talk Manager: Shaokai Ye

    * Website Manager: Shaokai Ye

    * Host: Shaokai Ye

    * Treasurer: TBA
    
    * Artist: TBA

    ### Speakers

    The club would not become what is it today without these honerable speakers:






    

