extends jade/main.jade
block title
  title #{json.fullname} - Contribute in Github
block content
  :markdown
    Contribute in Github
    ===
    Most of our activities in this club is hosted on Github.
    
    ## Ask and Answer Questions
    Asking questions about programming is more convinient through popular websites such as [Stackoverflow](http://www.stackoverflow.com). But if you can find it there, or you have questions about the talks in the club, ICPC questions, go to https://github.com/scpc/problem_archive/issues
    ## Improve Our Website
    The whole developement of this website uses github. If you want to improve our website, submit a pull request to https://github.com/scpc/SCPC.github.io.
    
