extends jade/main.jade
block title
  title #{json.fullname} - give a talk
block content
  :markdown
    Give a talk
    === 
    We are very happy that you are interested in giving a talk in SCPC. There are a few things you need to pay attention:

    ## Topic
    In general, we welcome any kind of topic that is closely related to everyday programming.
    In addition, the topic need to be apropreate for the general audience (undergraduate students).

    Here is a list of recommended topics:

    * introduction to a programming language or a library
    * a specific programming techneque/algorithm
    * solution to a problem from ACM-ICPC
    * shout out for a project made by SLU student
    * any other topic you really like to talk about

    If you are still unsure, feel free to checkout a list of talks given in the past: [talk schedule](/dist/schedule.html).

    ## Format
    In order to apply to give a talk, you need to prepare the following basic information:

    * your name
    * your slu email
    * talk title
    * short description (within 120 characters)

    Recommended (optional):

    * handout (pdf format recommended)
    * some code for audience to download and run. We recommend you to upload it to gist.github.com ([Learn more about gist](https://help.github.com/articles/about-gists)), but if you can't, just email us the code and we will take care of it for you.

    ## Timeline
    
    1. Guest submits application.
    2. We review the application. If not successful, we will tell the guest what need to be fixed, then the guest need to go to back to step 1.
    3. Guest chooses the date to give the talk.
    4. We publish the updated schedule on our website.
    5. In case of emergency, we might have to cancel the talk and the guest have to go back to step 3 to reschedule.
    6. Guest gives the talk according to schedule.


    
  
