extends jade/main.jade

block title
  title #{json.fullname}

block content
  #home
    h1 Hello, coders!
    p
      | Welcome to SLU Computer Programming Club! This is a club where everything is about coding. We have weekly meeting on 4:00 PM Monday in Linux Lab (Room 121L) in Ritter Hall. During the meeting, we will blah blah blah...
  hr.featurette-divider
  #news
    h1 News
    ul(style='list-style-type:square')
      li
        p.lead we can use markdown with syntax highlighting now:
        :markdown
          **markdown:**
          <pre><code class="no-highlight">*hello world!*
          ```c++
            int main(){
              int a=10;
              printf("hello %d!\n",a+3);
              return 0;
            }
          ```
          </code></pre>

          **result:**

          *hello world!*
          ```c
            int main(){
              int a=10;
              printf("hello %d!\n",a+3);
              return 0;
            }
          ```
      li
        p.lead official website is now online.
  hr.featurette-divider
  #links
    h1 Useful Links:
    p
      | Advisor: 
      a(href='http://mathcs.slu.edu/~goldwasser') Dr. Michael Goldwasser
    p
      | Discuss Coding: 
      a(href='https://github.com/scpc/problem_archive/issues') github issues
    p
      | online judge: 
      a(href='https://icpcarchive.ecs.baylor.edu/index.php') AMC-ICPC Online Archive
  #involve
    h1 Get Involved
    p.lead
      | We use github for most of our activities. So please sign up for an account at 
      a(href='//www.github.com') Github
      |  first. Then make sure that your SLU email is shown somewhere in your profile.
    p.lead There are several ways to get involved:
    ul(style='list-style-type:square')
      li
        | Apply to give a talk, See 
        a(href='/dist/give_a_talk.html') guide
        | .
      li
        | Use our github repos. See
        a(href='/dist/contribute_in_github.html') guide
        | .
