extends jade/main.jade

block title
  title #{json.fullname}

block content
  #home
    h1 Hello, coders!
    p.lead
      | Welcome to SLU Computer Programming Club! This is a club where everything is about coding. We have weekly meeting on 4:00 PM Monday in Linux Lab (Room 121L) in Ritter Hall. During the meeting, we will first have a 20-min talk about useful things for coding, then people can code or talk with other people for the rest of time (usually lasts 40 min).
  hr.featurette-divider
  #news
    h1 News
    ul(style='list-style-type:square')
      li
        p 08/28/2014 The first meeting will be held on 09/01/2014 4:00 PM
      li
        p 08/17/2014 Official website is now online.
  hr.featurette-divider
  #links
    h1 Useful Links:
    p
      | Advisor: 
      a(href='http://mathcs.slu.edu/~goldwasser') Dr. Michael Goldwasser
    p
      | Discuss Coding: 
      a(href='https://github.com/scpc/problem_archive/issues') github issues
    p
      | online judge: 
      a(href='https://icpcarchive.ecs.baylor.edu/index.php') AMC-ICPC Online Archive
  #involve
    h1 Get Involved
    p.lead
      | We use github for most of our activities. So please sign up for an account at 
      a(href='//www.github.com') Github
      |  first. Then make sure that your SLU email is shown somewhere in your profile.
    p.lead There are several ways to get involved:
    ul(style='list-style-type:square')
      li
        | Apply to give a talk, See 
        a(href='/dist/give_a_talk.html') guide
        | .
      li
        | Use our github repos. See
        a(href='/dist/contribute_in_github.html') guide
        | .
